body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #004e92, #000428);
    color: white;
}

.login-box {
    width: 350px;
    margin: 140px auto;
    padding: 25px;
    background: #ffffff;
    color: black;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.login-box h2 {
    margin-bottom: 5px;
}

.sub {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#error {
    color: red;
    margin-top: 10px;
}
